{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} : ajouter Entreprise
{% endblock %}

{% block nomPage %}
    {{ name }}
{% endblock %}

{% block titreContenu %}
    Veuillez creer une entreprise !
{% endblock %}


{% block contenuAutre %}
<div class="container">
    <div class="row">
        <div class="col bg-info">

    {{ form_start(vueFormulaireEntreprise) }}
        <div>
            {{ form_label(vueFormulaireEntreprise.nom) }}
            <br>
            {{ form_widget(vueFormulaireEntreprise.nom) }}
            
        </div>
        <div>
            {{ form_label(vueFormulaireEntreprise.activite) }}
            <br>
            {{ form_widget(vueFormulaireEntreprise.activite) }}
            <br>
        </div>
        <div>
            {{ form_label(vueFormulaireEntreprise.adresse) }}
            <br>
            {{ form_widget(vueFormulaireEntreprise.adresse) }}
            <br>
        </div>
        <div>
            {{ form_label(vueFormulaireEntreprise.lienSite) }}
            <br>
            {{ form_widget(vueFormulaireEntreprise.lienSite) }}
        </div>
        <br>
        <button type="submit" class = "btn btn-dark">Ajouter</button>
        <br><br>
    {{ form_end(vueFormulaireEntreprise) }}

        </div>
    </div>
</div>


    {{ form(vueFormulaireEntreprise) }}

{% endblock %}

