{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} : formations
{% endblock %}

{% block nomPage %}
    {{ name }}
{% endblock %}

{% block titreContenu %}
    Liste des formations recherchées
{% endblock %}


{% block tableau %}

<thead>
    <tr>
        <th> ID  </th>
        <th> Acronyme  </th>
        <th> Nom Complet </th>
        <th> Offre de stage </th>
    </tr>
</thead>

<tbody>
    {% for formation in listeFormations %}
    <tr> 
        <td> {{ formation.id}} </td>
        <td> {{ formation.acronyme }} </td>
        <td> {{ formation.nom }} </td>
        <td> <a href="{{ path('ProStageController_parFormation', { 'id': formation.ID}) }}" > Voir les offres de stage </a> </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}