{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} : entreprise {{ name }}
{% endblock %}

{% block nomPage %}
    {{ infoEntreprise.nom }}
{% endblock %}

{% block titreContenu %}
    Bienvenue sur la page de l'entreprise     {{ infoEntreprise.nom }} <br>
    <p> Informations sur l'entreprise: 
    <ul>
        <li> activité : {{ infoEntreprise.activite }} </li>
        <li> adresse : {{ infoEntreprise.adresse }} </li>
        <li> site web : {{ infoEntreprise.lienSite }} </li>
    </ul>


    Voici la liste des stages proposés !
{% endblock %}


{% block tableau %}

<thead>
    <tr>
        <th> ID  </th>
        <th> Titres  </th>
        <th> Entreprises  </th>
        <th> Formations  </th>
        <th> Liens vers l'offre  </th>
    </tr>
</thead>

<tbody>
    {% for stage in listeStages %}
    <tr> 
        <td> {{ stage.ID}} </td>
        <td> {{ stage.titre }} </td>
        <td> {{ stage.entreprise.nom }} </td>
        <td> 
        {% for formation in stage.formations %}
        -- {{ formation.acronyme }} --     
        {% endfor %}
        </td>
        <td> <a href="{{ path('ProStageController_stages', { 'id': stage.ID}) }}" > Voir l'offre de stage </a> </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}

