{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} : stage pour les {{ name }}
{% endblock %}

{% block nomPage %}
    {{ infoFormation.nom }}
{% endblock %}

{% block titreContenu %}
    Bienvenue sur la page de la formation      {{ name }} <br>
    Voici la liste des stages proposés !
{% endblock %}


{% block tableau %}

<thead>
    <tr>
        <th> Titres  </th>
        <th> Entreprises  </th>
        <th> Liens vers l'offre  </th>
    </tr>
</thead>

<tbody>
    {% for stage in stages %}
    <tr> 
        <td> {{ stage.titre }} </td>
        <td> {{ stage.entreprise.nom }} </td>
        <td> <a href="{{ path('ProStageController_stages', { 'id': stage.ID}) }}" > Voir l'offre de stage </a> </td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}

