{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} : stage
{% endblock %}

{% block nomPage %}
    {{ name }}
{% endblock %}

{% block titreContenu %}
 Description du stage ! {{ stage.titre }}
{% endblock %}



{% block contenuAutre %}
<h4> Recherche d'un Stagiaire en {{ stage.titre }} </h4> <br>
<p><small> Par l'entreprise <a href="{{ path('ProStageController_entreprises', { 'id': stage.entreprise.ID}) }}" > {{ stage.entreprise.nom }} </a></small> </p>
<p> Description de la mission : <br>
{{ stage.descMission }} </p>

<p> Formation visée-s : -
{% for formation in stage.formations %}
        {{ formation.acronyme }} -
{% endfor %}
</p>

<p> Contact : {{ stage.mail }} . </p>

{% endblock %}


