<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% endblock %}
        <title>
            {% block titre %} 
                ProStage
            {% endblock %}
        </title>
    </head>
    <body>
    
<!-- ENTETE -->
        
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 bg-dark text-white">
			<h3>
				ProStage - {% block nomPage %} {% endblock %}
			</h3>
			<dl>
				<dt>
					Un site de recherche de stages
				</dt>
				<dd>
					En effet, vous pouvez accédez à de nombreux stage grâce a prostage.
				</dd>
				
			</dl>
			<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
				 
				<button class="navbar-toggler bg-dark text-white" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon "></span>
				</button> <a class="navbar-brand bg-dark text-white" href="{{ path('ProStageController_accueil') }}">Accueil </a>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav bg-dark text-white">
						<li class="nav-item">
							 <a class="nav-link text-white" href="{{ path('ProStageController_entreprises') }}">Entreprises</a>
						</li>
					</ul>
					<ul class="navbar-nav bg-dark text-white">
                        <li class="nav-item">
							 <a class="nav-link text-white" href="{{ path('ProStageController_formations') }}">Formations</a>
						</li>
					</ul>
					<ul class="navbar-nav bg-dark text-white">
						<li class="nav-item">
							 <a class="nav-link text-white" href="{{ path('ProStageController_ajouterEntreprise') }}">AjouterEntreprise</a>
						</li>
					</ul>
					<ul class="navbar-nav bg-dark text-white ml-auto">
						<li class="nav-item">
							{% if is_granted('ROLE_USER') %}
								<a class="nav-link text-white" href="{{ path('ProStageController_entreprises') }}">Deconnexion</a>
							{% else %}
								<a class="nav-link text-white" href="{{ path('ProStageController_entreprises') }}">Connexion</a>
							{% endif %}
						</li>
					</ul>	
				</div>
			</nav>
		</div>
	</div>
</div>


<!-- CONTENU -->
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			</br>
			<h4>
				{% block titreContenu %}
				{% endblock %}
			</h4>
			</br>
			<table class="table table-striped">

			{% block tableau %}
			{% endblock %}
				
			</table>
		</div>
	</div>
</div>
{% block contenuAutre %}
{% endblock %}


<!--PIED DE PAGE -->
</div class="row">
	<footer class="footer fixed-bottom bg-dark text-white">
	<div class="col-md-12" align="center">
				<p class="mb-0"> Merci de votre visite ! Pensez à laisser une bonne note :) </p>
	</div>
	</footer>

</div>




{% block PiedPage %}
{% endblock %}

<!-- JAVASCRIPT -->
{% block javascripts %}
{% endblock %}

    </body>
</html>